body {
    margin: 0;
    padding: 0;
}

/* En Tête Fixe */
.en_tete {
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    top: 0;
    position: sticky;
    width: 100%;
    justify-content: center;
}
.logo {
    margin: 10px;
}
.logo:active {
    background-color: white;
}
.bouttons {
    display: flex;
    margin: 10px;
}
.button {
    font-family: Space Grotesk;
    font-size: 1em;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: 2px solid black;
    margin: 7px;
}
.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.button:active {
    background-color: rgba(237, 182, 22, 1);
}

.texte-titre {
    font-family: Oswald;
    color: rgb(170,170,170);
    margin: 10px;
    text-align: center;
}

/* Conteneur corps du site */
.conteneur {
    display: flex;
    margin-top: 31px;
    align-items: center;
    flex-direction: column;
}

/* Texte introductif */
.texte {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2 {
    font-family: Space Grotesk;
}
.texte p {
    font-family: Arial;
    margin: 5px;
}

/* Liste des Sites */
.ListeSites {
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: row;
}

/* Images + sous-titres */
figure {
    float: right;
    text-align: center;
    font-family: Space Grotesk;
    font-style: italic;
    font-size: smaller;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}
.scaled {
    width: 100%;
}
.ListeSites a:hover {
    color: black;
}

/* Zoom sur images */
.pop-out{
    transition: transform .5s;
    padding: 5px;
    width: 400px;
    max-height: 250px;
    object-fit: contain;
}
.pop-out:hover{
    -ms-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25); 
}

/* Liste page 2 */
.cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(250, 250, 250);
    font-family: Space Grotesk;
}
.liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.blanc {
    background-color: white;
    width: 100%;
    text-align: center;
}
.gris {
    background-color: rgb(245, 245, 245);
    width: 100%;
    text-align: center;
}

/* Footer */
footer {
    font-family: Space Grotesk;
}

/* Liens */
a:any-link{
    color: inherit;
}
    
a:hover{
    color: rgb(237, 182, 22);
}

/* Sélection du curseur */
::selection {
    background-color : rgba(237, 182, 22, 0.8);
    color : #fff
}

::-moz-selection {
    background-color : rgba(237, 182, 22, 0.8);
    color : #fff
}

/* Version mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 900px) {
    .button {
        font-size: 2em;
    }
    .ListeSites {
        flex-direction: column;
    }
    .pop-out{
        transition: transform .5s;
        padding: 20px;
        width: 800px;
        max-height: 500px;
        object-fit: contain;
    }
    figure {
        font-size: 2em;
    }
}