body {
    background-image: url('images/waveform.jpeg');
    background-color: rgb(15, 26, 32);
    background-attachment:fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}


/*Style conteneur Titre*/
.encadré_titre {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-left: 230px;
}

/*Style Titre Principal*/
.titre {
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    background-color: rgb(25, 40, 100);
    color: white;
    border-radius: 30px 30px;
    width: 1090px;
}

h1 {
    font-size: 3.1em;
}

quote {
    font-style: italic;
    font-size: 1.5em;
}

/* CONTENU PAGE */
.contenu {
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: justify;
    background-color: gainsboro;
    color: black;
    font-family: Quicksand;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    max-width: 1090px;
}
.section p {
    margin: 20px;
    padding: 10px;
}
.section  img {
    margin: 10px;
    background-color: white;
    border-radius: 18px;
}
@media (prefers-color-scheme: dark) {
    .section  img {
        background-color: rgb(18, 18, 18);
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section {
        flex-direction: column;
        width: 900px;
        font-size: 1.3em;
    }
    #bloc2.section {
        flex-direction: column;
    }
    .contenu {
        margin-left: none;
    }
    h1 {
        font-size: 1em;
    }
    footer {
        margin-left: none;
    }
}

/* Blocs pour chaque paragraphe de contenu */
/* Page Intro */
#bloc0 {
    background: linear-gradient( rgba(249, 213, 182, 0.80), rgba(167, 216, 255, 0.80));
}
/* Page "Histoire" */
#bloc1 {
    background: linear-gradient(rgba(145, 116, 97, 0.80), rgba(97, 37, 46, 0.80));
    color: rgb(241, 243, 245);
}
#bloc2 {
    background: linear-gradient(rgba(6, 68, 104, 0.80), rgba(254, 217, 157, 0.50));
    color: rgb(241, 243, 245);
    flex-direction: row-reverse;
}
#bloc3 {
    background: linear-gradient(rgba(6, 68, 104, 0.80), rgba(254, 217, 157, 0.50));
    color: rgb(241, 243, 245);
}
#bloc4 {
    background: linear-gradient(rgba(58, 117, 103, 0.80), rgba(254, 217, 157, 0.50));
    color: rgb(241, 243, 245);
}


/* Bloc Oscillo*/
.oscillo {
    font-family: Quicksand;
    text-align: center;
    background-color: rgba(34, 51, 59, 0.818);
    border-radius: 30px;
}
  
#controls {
    display: flex;
    flex-direction: column;
    color: #A0A0A0;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

#on-off {
    font-family: Quicksand;
    background-color: red;
    border: 1px solid #A0A0A0;
    border-radius: 15px;
}
#draw-toggle {
    background-color: #686868;
    border: 1px solid #A0A0A0;
    border-radius: 15px;
}
  
#osc-types select {
    background: #303030;
    color: #A0F0A0;
    border: 1px solid #A0A0A0;
    border-radius: 15px;
    margin: 10px
}
  
#canvas {
    margin: 0;
    width:100%;
}

/* PIED DE PAGE */
footer {
    margin-left: 230px;
    background-color: rgb(255, 255, 255, 0.5);
}
.pied_de_page {
    display: flex;
    flex-direction: row;
    font-family: Quicksand;
}
.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.blabla {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding-bottom: 20px;
    text-align: justify;
    width: 50%;
}
footer .pied_de_page .blabla ul {
    line-height: 30px;
    list-style-type: none;
    padding: 0;
}
.logos img {
    margin  : 20px;
    background-color: rgb(163, 163, 163);
    border-radius: 10px 10px;
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    footer,
    .blabla,
    .logos img {
        background-color: rgba(18, 18, 18, 0.5);
        color: white;
    }
}

/* Liens */
/* Liens sur passage du curseur */
a:active {
    text-decoration: underline;
}
.contenu a:visited {
    color: black;
}
footer a:visited {
    color: rgb(69, 69, 69);
}
footer .pied_de_page .blabla ul :hover {
    transition: all 0.5s;
    transform: scale(1.2);
}
/* Liens par défaut */
a {
    text-decoration: inherit;
    color: inherit;
}
/* Sélection du curseur */
::selection {
    background-color : #000000;
    color : #fff
}

::-moz-selection {
    background-color : #000000;
    color : #fff
}
