body {
    background-color: white;
    padding: 0;
    margin: 0;
}

/*Style conteneur Titre*/
.section0 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 260px;
    background-color: aliceblue;
    padding: 50px;
}

/*Style Titre Principal*/
.titre {
    text-align: center;
    padding: 25px;
    font-family: Quicksand;
    background-color: rgb(22, 34, 88);
    color: white;
    border-radius: 30px 30px;
}
h1 {
    text-align: center;
    font-size: 70px;
}
quote {
    font-style: italic;
    font-size: 1.5em;
}

/* Style Contenu 1 */
.section1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 260px;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 50px;
}

.texte {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: darkgray;
    font-family: Quicksand;
    border-radius: 20px 20px;
}

.image {
    padding: 20px;
    border-radius: 30px 30px;
}

/* Liens */
/* Liens sur passage du curseur */
/* a:hover {
    color : black;
} */
/*Liens par défaut*/
a {
    text-decoration: underline;
    color: rgb(90, 90, 90);
}