body {
    background-image: url('images/waveform.jpeg');
    background-color: blanchedalmond;
    background-attachment:fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}


/*Style conteneur Titre*/
#encadré_titre {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 253, 255);
    padding: 50px;
    margin-left: 260px;
}
@media (prefers-color-scheme: dark) {
    #encadré_titre {
        background-color: rgb(29, 34, 40);
    }
}

/*Style Titre Principal*/
.titre {
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    background-color: rgb(25, 40, 100);
    color: white;
    border-radius: 30px 30px;
    width: 1090px;
}

h1 {
    font-size: 4.1em;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
    font-size: 1em;
    }
}

quote {
    font-style: italic;
    font-size: 1.5em;
}

/* CONTENU PAGE */
.contenu {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: justify;
    background-color: gainsboro;
    color: black;
    font-family: Quicksand;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    max-width: 1090px;
}

.section1 p {
    margin: 20px;
    padding: 10px;
    /*background-color: rgb(145, 145, 145);
    border-radius: 10px;*/
}
/* @media (prefers-color-scheme: dark) {
    .section1 p {
        background-color: rgb(100, 100, 100);
    }
} */

.section1  img {
    margin: 10px;
    background-color: white;
    border-radius: 18px;
}
@media (prefers-color-scheme: dark) {
    .section1  img {
        background-color: rgb(18, 18, 18);
    }
}

/* blocs de contenu*/


/* TOP BUTTON */
#topbutton {
    display: flex;
    justify-content: right;
    margin-left: 260px;
    border-radius: 10px 10px;
}
a img {
    margin  : 20px;
    background-color: rgb(163, 163, 163);
    border-radius: 10px 10px;
    padding: 5px;
}

/* Liens */
/* Liens sur passage du curseur */
a:hover {
    color : rgb(74, 107, 240)
}
/*Liens par défaut*/
a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}