body {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

input, button {
    font-family: "Space Grotesk", sans-serif;
}

input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px); /* Pour éviter de toucher les bords */
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: rgb(237, 182, 22);
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: white;
    border-radius: 4px;
    margin: 7px;
}

button:hover {
    background-color: rgb(216, 164, 6);
}
