body {
    margin: 0;
    font-size: 20px;
}
  
* {
    box-sizing: border-box;
}
  
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: Space Grotesk, arial, sans-serif;
    overflow: hidden;
}
  
.content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #000;
}
  .content p:last-child {
    margin-bottom: 0;
}
.content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #000;
    background: transparent;
    font-size: 1.25rem;
    color: #000;
    font-family: Space Grotesk, arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.content button:hover {
    background-color:rgb(237, 182, 22);
    color: white;
}
.content button:active {
    background-color: #000;
    color: white;
}
  
.particle {
    position: absolute;
    display: block;
    pointer-events: none;
}
.particle:nth-child(1) {
    top: 49.9388004896%;
    left: 23.598820059%;
    font-size: 17px;
    filter: blur(0.02px);
    animation: 28s float infinite;
}
.particle:nth-child(2) {
    top: 63.0541871921%;
    left: 16.7984189723%;
    font-size: 12px;
    filter: blur(0.04px);
    animation: 38s float infinite;
}
.particle:nth-child(3) {
    top: 14.7058823529%;
    left: 85.6299212598%;
    font-size: 16px;
    filter: blur(0.06px);
    animation: 21s floatReverse2 infinite;
}
.particle:nth-child(4) {
    top: 22.4116930572%;
    left: 74.4368266405%;
    font-size: 21px;
    filter: blur(0.08px);
    animation: 36s float2 infinite;
}
.particle:nth-child(5) {
    top: 10.8374384236%;
    left: 24.7035573123%;
    font-size: 12px;
    filter: blur(0.1px);
    animation: 30s floatReverse infinite;
}
.particle:nth-child(6) {
    top: 12.7139364303%;
    left: 83.4970530452%;
    font-size: 18px;
    filter: blur(0.12px);
    animation: 25s float2 infinite;
}
.particle:nth-child(7) {
    top: 50.7317073171%;
    left: 52.9411764706%;
    font-size: 20px;
    filter: blur(0.14px);
    animation: 40s floatReverse2 infinite;
}
.particle:nth-child(8) {
    top: 89.7657213317%;
    left: 93.9663699308%;
    font-size: 11px;
    filter: blur(0.16px);
    animation: 32s float infinite;
}
.particle:nth-child(9) {
    top: 74.6928746929%;
    left: 39.4477317554%;
    font-size: 14px;
    filter: blur(0.18px);
    animation: 33s floatReverse2 infinite;
}
.particle:nth-child(10) {
    top: 85.3987730061%;
    left: 61.0837438424%;
    font-size: 15px;
    filter: blur(0.2px);
    animation: 30s floatReverse2 infinite;
}
.particle:nth-child(11) {
    top: 55.6776556777%;
    left: 68.6947988224%;
    font-size: 19px;
    filter: blur(0.22px);
    animation: 32s float infinite;
}
.particle:nth-child(12) {
    top: 92.9095354523%;
    left: 39.2927308448%;
    color: rgb(237, 182, 22);
    font-size: 18px;
    filter: blur(0.24px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(13) {
    top: 72.9064039409%;
    left: 61.2648221344%;
    font-size: 12px;
    filter: blur(0.26px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(14) {
    top: 26.3414634146%;
    left: 21.568627451%;
    font-size: 20px;
    filter: blur(0.28px);
    animation: 33s float infinite;
  }
  .particle:nth-child(15) {
    top: 90.5109489051%;
    left: 57.7299412916%;
    font-size: 22px;
    filter: blur(0.3px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(16) {
    top: 40.7766990291%;
    left: 82.03125%;
    font-size: 24px;
    filter: blur(0.32px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(17) {
    top: 88.5608856089%;
    left: 81.9348469891%;
    font-size: 13px;
    filter: blur(0.34px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(18) {
    top: 85.3333333333%;
    left: 40.9756097561%;
    font-size: 25px;
    filter: blur(0.36px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(19) {
    top: 9.840098401%;
    left: 92.7936821323%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 40s float infinite;
  }
  .particle:nth-child(20) {
    top: 8.6851628468%;
    left: 39.8445092323%;
    font-size: 29px;
    filter: blur(0.4px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(21) {
    top: 4.8309178744%;
    left: 5.8365758755%;
    font-size: 28px;
    filter: blur(0.42px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(22) {
    top: 7.8048780488%;
    left: 96.0784313725%;
    font-size: 20px;
    filter: blur(0.44px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(23) {
    top: 32.8899637243%;
    left: 81.7916260954%;
    font-size: 27px;
    filter: blur(0.46px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(24) {
    top: 11.7791411043%;
    left: 0.9852216749%;
    font-size: 15px;
    filter: blur(0.48px);
    animation: 36s floatReverse infinite;
  }
  .particle:nth-child(25) {
    top: 19.656019656%;
    left: 93.6883629191%;
    font-size: 14px;
    filter: blur(0.5px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(26) {
    top: 17.4123337364%;
    left: 37.0009737098%;
    font-size: 27px;
    filter: blur(0.52px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(27) {
    top: 5.8394160584%;
    left: 71.4285714286%;
    font-size: 22px;
    filter: blur(0.54px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(28) {
    top: 15.4402895054%;
    left: 40.8163265306%;
    font-size: 29px;
    filter: blur(0.56px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(29) {
    top: 77.9537149817%;
    left: 22.5269343781%;
    font-size: 21px;
    filter: blur(0.58px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(30) {
    top: 30.4668304668%;
    left: 53.2544378698%;
    font-size: 14px;
    filter: blur(0.6px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(31) {
    top: 42.87454324%;
    left: 85.2105778648%;
    font-size: 21px;
    filter: blur(0.62px);
    animation: 36s floatReverse infinite;
  }
  .particle:nth-child(32) {
    top: 42.7184466019%;
    left: 57.6171875%;
    color: rgb(237, 182, 22);
    font-size: 24px;
    filter: blur(0.64px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(33) {
    top: 77.3881499395%;
    left: 97.3709834469%;
    font-size: 27px;
    filter: blur(0.66px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(34) {
    top: 61.9926199262%;
    left: 61.2043435341%;
    font-size: 13px;
    filter: blur(0.68px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(35) {
    top: 40.0488400488%;
    left: 87.3405299313%;
    font-size: 19px;
    filter: blur(0.7px);
    animation: 38s float2 infinite;
  }
  .particle:nth-child(36) {
    top: 33.0097087379%;
    left: 1.953125%;
    font-size: 24px;
    filter: blur(0.72px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(37) {
    top: 73.2600732601%;
    left: 82.4337585868%;
    font-size: 19px;
    filter: blur(0.74px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(38) {
    top: 94.2891859052%;
    left: 25.4154447703%;
    font-size: 23px;
    filter: blur(0.76px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(39) {
    top: 93.2038834951%;
    left: 76.171875%;
    font-size: 24px;
    filter: blur(0.78px);
    animation: 26s floatReverse2 infinite;
  }
  .particle:nth-child(40) {
    top: 82.1515892421%;
    left: 71.7092337917%;
    font-size: 18px;
    filter: blur(0.8px);
    animation: 26s float2 infinite;
  }
  .particle:nth-child(41) {
    top: 42.0024420024%;
    left: 25.5152109912%;
    font-size: 19px;
    filter: blur(0.82px);
    animation: 34s float infinite;
  }
  .particle:nth-child(42) {
    top: 17.6254589963%;
    left: 58.9970501475%;
    font-size: 17px;
    filter: blur(0.84px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(43) {
    top: 13.7086903305%;
    left: 12.7826941986%;
    font-size: 17px;
    filter: blur(0.86px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(44) {
    top: 50.1228501229%;
    left: 74.9506903353%;
    font-size: 14px;
    filter: blur(0.88px);
    animation: 26s floatReverse2 infinite;
  }
  .particle:nth-child(45) {
    top: 21.6216216216%;
    left: 46.3510848126%;
    font-size: 14px;
    filter: blur(0.9px);
    animation: 35s float infinite;
  }
  .particle:nth-child(46) {
    top: 79.217603912%;
    left: 27.5049115914%;
    font-size: 18px;
    filter: blur(0.92px);
    animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(47) {
    top: 72.2832722833%;
    left: 44.1609421001%;
    font-size: 19px;
    filter: blur(0.94px);
    animation: 35s floatReverse infinite;
  }
  .particle:nth-child(48) {
    top: 38.6007237636%;
    left: 63.1681243926%;
    font-size: 29px;
    filter: blur(0.96px);
    animation: 24s float infinite;
  }
  .particle:nth-child(49) {
    top: 28.5714285714%;
    left: 69.1699604743%;
    font-size: 12px;
    filter: blur(0.98px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(50) {
    top: 33.1303288672%;
    left: 75.41625857%;
    font-size: 21px;
    filter: blur(1px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(51) {
    top: 56.9360675513%;
    left: 46.6472303207%;
    font-size: 29px;
    filter: blur(1.02px);
    animation: 28s float infinite;
  }
  .particle:nth-child(52) {
    top: 34.0218712029%;
    left: 19.550342131%;
    font-size: 23px;
    filter: blur(1.04px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(53) {
    top: 87.2727272727%;
    left: 87.8048780488%;
    font-size: 25px;
    filter: blur(1.06px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 29.1262135922%;
    left: 28.3203125%;
    font-size: 24px;
    filter: blur(1.08px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(55) {
    top: 35.7487922705%;
    left: 12.6459143969%;
    color: rgb(237, 182, 22);
    font-size: 28px;
    filter: blur(1.1px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(56) {
    top: 62.8992628993%;
    left: 12.8205128205%;
    font-size: 14px;
    filter: blur(1.12px);
    animation: 26s float2 infinite;
  }
  .particle:nth-child(57) {
    top: 57.1428571429%;
    left: 7.7972709552%;
    font-size: 26px;
    filter: blur(1.14px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 86.8292682927%;
    left: 7.8431372549%;
    font-size: 20px;
    filter: blur(1.16px);
    animation: 22s float infinite;
  }
  .particle:nth-child(59) {
    top: 23.2164449819%;
    left: 74.9756572541%;
    font-size: 27px;
    filter: blur(1.18px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(60) {
    top: 92.7536231884%;
    left: 32.1011673152%;
    font-size: 28px;
    filter: blur(1.2px);
    animation: 36s float infinite;
  }
  .particle:nth-child(61) {
    top: 9.828009828%;
    left: 3.9447731755%;
    font-size: 14px;
    filter: blur(1.22px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(62) {
    top: 43.137254902%;
    left: 30.5118110236%;
    font-size: 16px;
    filter: blur(1.24px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(63) {
    top: 5.8323207776%;
    left: 66.4711632454%;
    font-size: 23px;
    filter: blur(1.26px);
    animation: 25s float infinite;
  }
  .particle:nth-child(64) {
    top: 64%;
    left: 2.9268292683%;
    font-size: 25px;
    filter: blur(1.28px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(65) {
    top: 54.041013269%;
    left: 50.5344995141%;
    font-size: 29px;
    filter: blur(1.3px);
    animation: 28s floatReverse infinite;
  }
  .particle:nth-child(66) {
    top: 55.1045510455%;
    left: 1.9743336624%;
    font-size: 13px;
    filter: blur(1.32px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(67) {
    top: 79.1208791209%;
    left: 13.7389597645%;
    font-size: 19px;
    filter: blur(1.34px);
    animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(68) {
    top: 26.1501210654%;
    left: 11.6959064327%;
    font-size: 26px;
    filter: blur(1.36px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(69) {
    top: 52.4908869988%;
    left: 62.5610948192%;
    font-size: 23px;
    filter: blur(1.38px);
    animation: 39s float infinite;
  }
  .particle:nth-child(70) {
    top: 96.7032967033%;
    left: 89.3032384691%;
    font-size: 19px;
    filter: blur(1.4px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(71) {
    top: 80.5825242718%;
    left: 96.6796875%;
    font-size: 24px;
    filter: blur(1.42px);
    animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(72) {
    top: 55.8139534884%;
    left: 10.8161258604%;
    font-size: 17px;
    filter: blur(1.44px);
    animation: 28s floatReverse infinite;
  }
  .particle:nth-child(73) {
    top: 37.7267230955%;
    left: 32.1324245375%;
    font-size: 27px;
    filter: blur(1.46px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(74) {
    top: 30.4668304668%;
    left: 16.7652859961%;
    font-size: 14px;
    filter: blur(1.48px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(75) {
    top: 26.0869565217%;
    left: 43.7743190661%;
    font-size: 28px;
    filter: blur(1.5px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(76) {
    top: 66.1800486618%;
    left: 52.8375733855%;
    font-size: 22px;
    filter: blur(1.52px);
    animation: 31s floatReverse infinite;
  }
  .particle:nth-child(77) {
    top: 79.509202454%;
    left: 15.763546798%;
    font-size: 15px;
    filter: blur(1.54px);
    animation: 30s float2 infinite;
  }
.particle:nth-child(78) {
    top: 33.2518337408%;
    left: 50.0982318271%;
    font-size: 18px;
    filter: blur(1.56px);
    animation: 32s floatReverse2 infinite;
}
.particle:nth-child(79) {
    top: 80.6888068881%;
    left: 19.7433366239%;
    font-size: 13px;
    filter: blur(1.58px);
    animation: 33s floatReverse2 infinite;
}
.particle:nth-child(80) {
    top: 3.9072039072%;
    left: 30.4219823356%;
    font-size: 19px;
    filter: blur(1.6px);
    animation: 33s float2 infinite;
}
.particle:nth-child(81) {
    top: 5%;
    left: 45%;
    filter: blur(1px);
    animation: 33s float2 infinite;
}
.particle:nth-child(82) {
    top: 60%;
    left: 87%;
    filter: blur(1px);
    animation: 33s floatReverse2 infinite;
}
.particle:nth-child(83) {
    top: 12%;
    left: 18%;
    filter: blur(1.5px);
    animation: 33s float2 infinite;
}
.particle:nth-child(84) {
    top: 85%;
    left: 5%;
    filter: blur(0.8px);
    animation: 33s floatReverse2 infinite;
}
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }